# don’t check in the virtualenv
.venv/
venv/

# Qt auto-saves
*.autosave

# don’t check in macOS Finder cruft
.DS_Store
manual.PDF
__pycache__/
*.pyc

#don't check old v1 code
Mini-MBE-GUI-v1\miniMBE-GUI
miniMBE-GUI


